# API
PORT=3000
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1h

# SQL Server
DB_USER=usuario_api
DB_PASSWORD=Api2025*Segura
DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_PORT=1433
DB_DATABASE=EmpresaRH
